* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    background:
    radial-gradient(circle, #222, #050505);

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}



/* MAIN GAME BOX */

.game-container {

    width: 1000px;

    text-align: center;

}



/* TITLE */

h1 {

    font-size: 35px;

    margin-bottom: 20px;

    color: #ff3b3b;

    text-shadow:
    0 0 10px red;

}



/* HUD */

.hud {

    display: flex;

    justify-content: space-between;

    background: #111;

    border: 2px solid #444;

    padding: 15px;

    border-radius: 10px;

    margin-bottom: 15px;

}



.stat {

    background: #1c1c1c;

    padding: 10px 15px;

    border-radius: 8px;

    border: 1px solid #555;

    font-weight: bold;

}



/* GAME SCREEN */

canvas {

    background:

    linear-gradient(
        45deg,
        #111 25%,
        #151515 25%,
        #151515 50%,
        #111 50%
    );

    background-size: 40px 40px;


    border:

    3px solid #666;


    border-radius: 10px;


    box-shadow:

    0 0 25px black;

}



/* CONTROL PANEL */

.controls {

    margin-top: 20px;

    background:#111;

    border:

    1px solid #444;


    padding:15px;

    border-radius:10px;

}


.controls h3 {

    color:#ff4444;

    margin-bottom:10px;

}


.controls p {

    margin:5px;

    color:#ccc;

}



/* GAME OVER SCREEN */

#gameOver {


    position:absolute;


    background:

    rgba(0,0,0,0.85);


    padding:40px;


    border-radius:15px;


    border:

    2px solid red;


}



.hidden {

    display:none;

}



#gameOver h2 {


    font-size:40px;

    color:red;

    margin-bottom:20px;


}



button {


    background:red;

    color:white;


    border:none;


    padding:15px 30px;


    border-radius:10px;


    cursor:pointer;


    font-size:18px;


}



button:hover {


    background:#ff6666;


}
