body {
    background:#0d0d0d;
    color:white;
    font-family:monospace;
    text-align:center;
}


h1 {
    color:#ffd700;
}


canvas {

    background:
    linear-gradient(#202040,#101010);

    border:5px solid white;

    image-rendering:pixelated;

}


button {

    margin-top:20px;

    padding:15px 50px;

    background:#222;

    color:white;

    border:3px solid gold;

    font-size:20px;

    cursor:pointer;

}


button:hover {

    background:#444;

}


#log {

    width:600px;

    margin:20px auto;

    padding:15px;

    background:black;

    border:2px solid white;

}
