*{

box-sizing:border-box;

}



body{

background:#080808;

color:white;

font-family:monospace;

text-align:center;

}




h1{

color:#ffd700;

text-shadow:
0 0 10px gold;

}



canvas{

background:

linear-gradient(
#172033,
#080808
);


border:4px solid white;

image-rendering:pixelated;

}



button{

margin-top:20px;

padding:15px 50px;

font-size:20px;

background:#222;

color:white;

border:2px solid gold;

cursor:pointer;

}



button:hover{

background:#444;

}



#log{

width:600px;

margin:20px auto;

padding:15px;

background:#111;

border:2px solid #555;

}
